<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/no.data.css" />
    <link rel="icon" type="image/x-icon" href="/icon/icon-cinema.ico">
    <title>NAMCINEMA | <%- i18n.t('noti.notData') %></title>
  </head>

  <body>
    <h1><a href="/"><%- i18n.t('noti.backToHome') %></a></h1>
    <p><%- i18n.t('noti.notData') %></p>
    <div class="travolta"></div>
  </body>
</html>
