html {
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.travolta {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/img/no-data.gif') center center no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  font-size: 775%;
  padding-top: 25vh;
  margin-bottom: 1vh;
  z-index: 2;
}

p {
  font-size: 125%;
}

a {
  text-decoration: underline;
  color: white;
  z-index: 2;
}

a:hover {
  color: #5bbce2;
}
