html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #efefef !important;
  scroll-behavior: smooth;
}

.main-content {
  background-color: #fff;
  padding: 25px;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

footer {
  position: relative !important;
}

.carousel-item {
  cursor: pointer;
}

.header-active {
  color: orange !important;
}

.header-inactive:hover {
  color: #ffc400 !important;
}

.img-fit {
  object-fit: cover;
  border-radius: 50%;
}

img {
  object-fit: cover;
}

.dropdown-item {
  label {
    width: 100%;
  }
}
