<div class="top-bar">
  <span> </span>
  <span class="username"><%- i18n.t('header.hello') %>, <%- i18n.t('header.admin') %></span>
</div>

<script src="/js/utils.js"></script>
<script src="/js/admin.common.js"></script>
