<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  <link rel="icon" type="icon" href="/img/icon/app.icon">
  <title>NAMCINEMA | <%=title%>
  </title>
</head>

<body>
  <div id="main">
    <div class="fof">
      <h1>
        <%=content%>
      </h1>
    </div>
  </div>
</body>

</html>
