<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
  <div style="font-size: 30px; margin: 10px;">Dear, <%- email %></div>
  <div style="font-size: 20px; margin: 10px;">This is link to reset your password in NAMCINEMA:</div>
  <div style="font-size: 18px; margin: 10px;"><a href="<%- url %>" target="_blank"><%- url %></a></div>
  <div style="color: red; margin: 10px;"><i>Note: Link expire: 10 minutes!</i></div>
  <br/>
  <span style="color: red; font-size: 16px;"><i>This is an automated email, please do not reply!</i></span>
</body>
</html>
